@page "/admin/answer-edit"
@page "/admin/answer-edit/{id:guid}"
@rendermode InteractiveAuto
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject NavigationManager NavigationManager
@inject IAnswerAdminService AnswerAdminService

@inject IQuestionAdminService QuestionAdminService
@inject IQuestionAdminService QuestionAdminService
@* InjectionCodePlaceholder *@
@* @inject IToDoListAdminService ToDoListAdminService *@

  @if (Id.Equals(Guid.Empty))
  {
    <PageTitle>Answer Creation</PageTitle>
  }
  else
  {
    <PageTitle>Answer Modification</PageTitle>
  }

<section>
  @if (Id.Equals(Guid.Empty))
  {
    <h1>Answer Creation</h1>
  }
  else
  {
    <h1>Answer Modification</h1>
  }
  <article>
    <EditForm class="container" Model="answerAdminEditModel" OnSubmit="HandleSubmit">

      <div class="row">
        <div class="col">
          <label>
            Correct Question:
            <select @onchange="CorrectQuestionOnChange">
              <option>Select correct question...</option>
                @if (correctQuestionList != null)
                {
                  @foreach (var correctQuestion in correctQuestionList)
                  {
                    if (answerAdminEditModel.CorrectQuestion != null && answerAdminEditModel.CorrectQuestion.Id.Equals(correctQuestion.Id))
                    {
                      <option value="@correctQuestion.Id" selected>@correctQuestion.Text</option>
                    }
                    else
                    {
                      <option value="@correctQuestion.Id">@correctQuestion.Text</option>
                    }
                  }
                }
              </select>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label>
            Ordering:
            <InputNumber @bind-Value="answerAdminEditModel.Ordering" data-testid="answerAdminEditOrdering" />
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label>
            Text:
            <InputText @bind-Value="answerAdminEditModel.Text" data-testid="answerAdminEditText" />
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label>
            Question:
            <select @onchange="QuestionOnChange">
              <option>Select question...</option>
                @if (questionList != null)
                {
                  @foreach (var question in questionList)
                  {
                    if (answerAdminEditModel.Question != null && answerAdminEditModel.Question.Id.Equals(question.Id))
                    {
                      <option value="@question.Id" selected>@question.Text</option>
                    }
                    else
                    {
                      <option value="@question.Id">@question.Text</option>
                    }
                  }
                }
              </select>
          </label>
        </div>
      </div>
      @* EditRowCodePlaceholder *@

      <div class="row">
        <div class="col">
          @if (!Id.Equals(Guid.Empty))
          {
            <button @onclick="Remove" type="button" class="btn btn-danger">Remove</button>
          }
        </div>
        <div class="col">
          <a href="/admin/answer-list">Cancel</a>
          @if (Id.Equals(Guid.Empty))
          {
            <button type="submit" class="btn btn-primary">Create</button>
          }
          else
          {
            <button type="submit" class="btn btn-primary">Modify</button>
          }
         </div>
      </div>
    </EditForm>
  </article>
</section>

@code {
  [Parameter]
  public Guid Id { get; set; }
  AnswerAdminEditModel answerAdminEditModel { get; set; } = new AnswerAdminEditModel();

  List<Question> correctQuestionList { get; set; } = [];
    List<Question> questionList { get; set; } = [];
    @* ListDeclarationCodePlaceholder *@

  protected override async Task OnInitializedAsync()
  {
    var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
    var userName = authState.User.Identity?.Name;

    if (userName == null)
    {
      return;
    }

    await base.OnInitializedAsync();

    var correctQuestionListResult = await QuestionAdminService.GetAllAsync(userName);
        if (correctQuestionListResult != null)
        {
            correctQuestionList = correctQuestionListResult;
        }
        var questionListResult = await QuestionAdminService.GetAllAsync(userName);
        if (questionListResult != null)
        {
            questionList = questionListResult;
        }
        @* OnInitializedCodePlaceholder *@
  }

  protected override async Task OnParametersSetAsync()
  {
    var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
    var userName = authState.User.Identity?.Name;

    if (userName == null)
    {
      return;
    }

    if (Id.Equals(Guid.Empty))
    {
      return;
    }

    var databaseAnswerAdminDto = await AnswerAdminService.GetByIdAsync(userName, Id);

    if (databaseAnswerAdminDto == null)
    {
      answerAdminEditModel = new AnswerAdminEditModel();
    }
    else
    {
      answerAdminEditModel = AnswerAdminEditModel.FromAnswerAdminDto(databaseAnswerAdminDto);
    }
  }

  async Task HandleSubmit()
  {
    var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
    var userName = authState.User.Identity?.Name;

    if (userName == null)
    {
      return;
    }

    @* RequiredPropertyPlaceholder *@

    @* if (string.IsNullOrWhiteSpace(answerAdminEditModel.Name))
    {
      return;
    } *@

    var answerAdminDto = AnswerAdminEditModel.ToAnswerAdminDto(answerAdminEditModel);
    answerAdminDto.ApplicationUserName = userName;

    if (Id.Equals(Guid.Empty))
    {
      var newAnswerAdminDto = await AnswerAdminService.AddAsync(answerAdminDto);

      if (newAnswerAdminDto == null)
      {
        return;
      }

      NavigationManager.NavigateTo($"/admin/answer-edit/{newAnswerAdminDto.Id}");
    }
    else
    {
      await AnswerAdminService.EditAsync(answerAdminDto);
    }
  }

  async Task Remove()
  {
    var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
    var userName = authState.User.Identity?.Name!;

    if (userName == null)
    {
      return;
    }

    if (Id.Equals(Guid.Empty))
    {
      return;
    }

    await AnswerAdminService.DeleteAsync(userName, Id);
    NavigationManager.NavigateTo($"/admin/answer-list");
  }

  void CorrectQuestionOnChange(ChangeEventArgs args)
    {
        if (args.Value == null)
        {
            return;
        }

        var id = (string)args.Value;
        answerAdminEditModel.CorrectQuestion = correctQuestionList?.Where(x => x.Id.ToString().Equals(id)).FirstOrDefault();
    }

    void QuestionOnChange(ChangeEventArgs args)
    {
        if (args.Value == null)
        {
            return;
        }

        var id = (string)args.Value;
        answerAdminEditModel.Question = questionList?.Where(x => x.Id.ToString().Equals(id)).FirstOrDefault();
    }

    @* OnChangeCodePlaceholder *@
}
